html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body{
    position: static;
    background-image: url("images/Background_image_edited.png");
    background-repeat: no-repeat;
    background-size: 100% 594px;
    font-family: 'Work Sans', sans-serif;
    ;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 40px;
}

h3 {
    font-size: 27px;
    color: #4A4A4A; 
    font-weight: 400;   
}

.bold {
    font-weight: 600;   
}

p {
   color: #4A4A4A;
   font-size: 18px;
   line-height: 28px;
   letter-spacing: 1.2px;
   font-weight: 400;
}
header {
    z-index: 2;
    padding: 60px 115px 40px 115px;
}

#logo{
    display: inline;
}

nav {
    width: auto;
    float: right;
    padding-top: 0;
}

ul {
    list-style: none;
}

li{
    display: inline-block;
    margin: 0px 0px 0px 26px;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 23px;
    text-transform: uppercase;
    color: white;
}

.line_separate{
    opacity: 0.42;
    border: solid 1px white;
    width: 100%;
}

main{
    z-index: 2;
}

.container_title  {
    color: white;
    height: 440px;
    z-index: 2;
}

.title {
    padding-top: 138px;
    padding-left: 103px;
    padding-right: 103px;
    padding-bottom: 211px;
}

.title h1 {
    font-weight: 700;
}

.title h2 {
    font-weight: 500;
}

button{
    min-width: 228px;
    padding: 18px 25px 18px 25px;
    margin: 0 24px 0 24px;
    background-image: linear-gradient(to bottom right, #F76B1C, #FAD961);
    border-radius: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.container_extra{
    background-color: #EEEEEE;
    display: block;
    padding: 30px 0 30px 0;
    width: 100%;
    text-align: center;
}

.container_extra p{
    color: #4A4A4A;
    opacity: 0.85;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 25px;
}

.inline {
    display: inline-flex;
    align-items: center;
    box-align: center;
}

.container_services{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    text-align: center;
    margin: 74px 108px;
    padding-bottom: 24px;
}

.service {
    padding: 0 24px 0 24px;
    display: inline-flexbox;
    align-items: center;
}

.icon_service{
    font-size: 27px;
    text-transform: uppercase;
    color: #4A4A4A;
    padding: 24px;
    display: inline-flex;
    align-items: center;
    box-align: center;
}

.icon{
    padding-right: 13px;
}

.line {
    border: 3px solid #205796;
    border-radius:6px;
    width: 40px;
    align-content: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.card_tertimonial{
    padding: 50px;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.30);
    border-radius: 18px;
    width: 750px;
    margin-left: auto ;
    margin-right: auto ;
}

.card_tertimonial h3{
    text-transform: uppercase;
    text-align: center;

}

.testimonial_quote{
    display: inline-flex;
    letter-spacing: 1px;
    color: #4A4A4A;
    padding-bottom: 40px;
}

.testimonial_person{
    position: relative;
    left: 36px;
    display: inline-flex;
    align-items: center;
    box-align: center;
    letter-spacing: 1px;
}
.quote{
    padding-right: 32px;
}
.charge {
    color: #9B9B9B;
    font-weight: 800;
}

.name{
    color: #4A4A4A;
    font-weight: 800;
}

.block{
    display: block;
}

.pagination{
    text-align: center;
    padding: 40px 0 40px 0;
}

.selected{
    color: #9B9B9B
}

.unselected{
    color: #E1E1E1
}

.cta{
    padding-bottom: 40px;
    text-align: center;
}

footer{
    margin-top: 32px;
    background-color: #E1DDDD;
    padding: 47px;
    text-align: center;
}

footer p{
    color: #4A4A4A;
    opacity: 0.85;
}